@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject Blazored.LocalStorage.ISyncLocalStorageService _localStorageService
@inject Blazored.SessionStorage.ISyncSessionStorageService _sessionStorage


<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        _localStorageService.Clear();
        _sessionStorage.Clear();
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

}