@page "/BlazorRoute/{text?}"
@page "/DifferentBlazorRoute"
@page "/catch-all/{*pageRoute}"

<h2>@PageRoute</h2>

@code {
    [Parameter]
    public string PageRoute { get; set; }
}

<h1>Blazor routing</h1>
<h4>Route text : @Text</h4>

@code {
	[Parameter]
	public string Text { get; set; }

	protected override void OnInitialized()
	{
		Text = Text ?? "fantastic";
	}

}